<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder</title>
</head>
<body>
    <h1><%= folder.title %></h1>
    <div class="filesContainer">
        <% if (folder.file) { %>
            <ul>
                <% for (const file of folder.file) { %>
                    <li><a href=""><%= file.title %></a></li>
                <% } %>
            </ul>
        <% } else { %> 
            <h2>Empty</h2>
        <% } %>
    </div>
    <div class="fileFormContainer">
        <h3>Upload a File</h3>
        <form class="fileForm" action="/upload" method="post" enctype="multipart/form-data">
            <label for="file">File</label>
            <input type="file" name="file" id="file">
            <input type="hidden" name="folderId" id="folderId" value="<%= folder.id %>">
            <button type="submit">Upload File</button>
        </form>
    </div>
    <a href="/">Back Home</a>
</body>
</html>