<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="homePageContainer">
        <% if (user) {%>
            <h1>Welcome back <%= user.username %></h1>
            <div class="folders">
                <% if (folders) {%> 
                    <% for (const folder of folders) {%>
                        <ul>
                            <li><a href="/<%= folder.title %>"><%= folder.title %></a></li>
                        </ul>
                    <% } %>
                <% } else {%>
                    <h2>No folders</h2>
                    <% } %>
            </div>
            <button type="button" onclick="">Create Folder</button>
            <a href="/logOut">Log Out</a>
        <% } else { %>
            <a href="/signUp">Sign Up New User</a>
            <a href="/logIn">Log In</a>
        <% } %>
    </div>
</body>
</html>